/* All of our CSS code goes here... */
* { 
    /*outline: 1px dotted purple; */
}

body {
    background-color: #012E52;
}

h1 {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
    color: white;
}

#world {
    margin: auto;
    width: fit-content;
    border-style: solid black;
    /* margin-top: 120px; */
}

.wall {
    width: 60px;
    height: 60px;
    background-image: url('assets/wall.svg');
    display: inline-block;
}
.food {
    width: 60px;
    height: 60px;
    background-image: url('assets/food.svg');
    display: inline-block;
}
.ground {
    width: 60px;
    height: 60px;
    background-image: url('assets/ground.svg');
    display: inline-block;
}
.monster {
    width: 60px;
    height: 60px;
    background-image: url('assets/ghost_red.svg');
    display: inline-block;
}
.pacman {
    width: 60px;
    height: 60px;
    background-image: url('assets/pacman.svg');
    display: inline-block;
}

div {
    line-height: 0px;
}